html 
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title="Desafío 5-PUG"
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous")
  body(class="bg-dark text-white") 
    div(class="container")
      h1(class="text-center mt-10")="Ingrese producto"
      form(action="/productos" method="post" class="mx-auto" style="width: 80%")
        div(class="mb-3")
          label(for="title" class="form-label")="Producto"
          input(type="text" class="form-control" id="title" name="title")
        div(class="mb-3")
          label(for="price" class="form-label")="Precio"
          input(type="number" class="form-control" id="price" name="price")
        div(class="mb-3")
          label(for="thumbnail" class="form-label")="Url de la Imagen"
          input(type="text" class="form-control" id="thumbnail" name="thumbnail")
        button(type="submit" class="btn btn-light")="Enviar"

    a(href="/productos"
  class="btn btn-info d-block mx-auto"
  style="width: 200px")="Ver productos"
